{{!-- The template below includes the markup for each post --}}
<ul>
{{#foreach posts visibility="all"}}
  <div class="{{post_class}}">
    <a href="{{url}}" class="m-article-card__info-link" aria-label="{{title}}">
      <div class="m-article-card__timestamp">
        <li>
        <h2 class="m-article-card__title js-article-card-title" title="{{title}}">
          {{title}}
        </h2>
        </li>
      </div>
    </a>
  </div>
{{/foreach}}
</ul>