{{!--
This template is used for the index page.
It can be used also as the home page or the default page.
--}}

{{!-- This block preloads specific assets for the index page --}}
{{#contentFor "preload"}}
  <link rel="preload" href="{{asset "css/home.css"}}" as="style" />
  <link rel="preload" href="{{asset "css/listing.css"}}" as="style" />
{{/contentFor}}

{{!-- This block loads specific styles for the index page --}}
{{#contentFor "styles"}}
  <link rel="stylesheet" type="text/css" href="{{asset "css/home.css"}}" media="screen" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/listing.css"}}" media="screen" />
{{/contentFor}}

{{!-- The tag below means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!< default}}

{{!-- Special header.hbs partial to generate the <header> tag --}}
{{> header background=@site.cover_image}}

<main class="main-wrap">
  <div class="m-hero__content" data-aos="fade-down">
    <h1 class="m-hero-title bigger">Articles</h1>
  </div>
  </section>
  <div class="l-content">
    <div class="subscribe-form" style="background-color: var(--subscribe-background); padding: 30px 0 20px;">
      <div class="m-newsletter">
        <script async data-uid="ae38c012f6" src="https://witty-inventor-176.ck.page/ae38c012f6/index.js"></script>
      </div>
    </div>
    <div class="l-wrapper" data-aos="fade-up" data-aos-delay="300">
      <div class="l-grid centered">
        {{#foreach posts visibility="all"}}
          {{#is "post"}}
            <div class="m-recommended-slider__item glide__slide">
          {{/is}}
          <article class="m-article-card {{post_class}}">
            {{#if primary_tag}}
              <div class="m-article-card__info">
                <p class="m-article-card__tag">{{primary_tag.name}}</p>
            {{else}}
              <div class="m-article-card__info no-tag">
            {{/if}}
              <a href="{{url}}" class="m-article-card__info-link" aria-label="{{title}}">
                <div>
                  <h2 class="m-article-card__title js-article-card-title" title="{{title}}">
                    {{title}}
                  </h2>
                </div>
              </a>
            </div>
          </article>
          {{#is "post"}}
            </div>
          {{/is}}
          {{else}}
            <header class="m-heading no-margin">
              <h3>{{t "No posts found"}}</h3>
              <p>
                {{t "Apparently there are no posts at the moment, check again later."}}
              </p>
            </header>
        {{/foreach}}
      </div>
    </div>
  </div>
</main>

