{{!--
This template is used for the index page.
It can be used also as the home page or the default page.
--}}

{{!-- This block preloads specific assets for the index page --}}
{{#contentFor "preload"}}
  <link rel="preload" href="{{asset "css/home.css"}}" as="style" />
  <link rel="preload" href="{{asset "css/listing.css"}}" as="style" />
{{/contentFor}}

{{!-- This block loads specific styles for the index page --}}
{{#contentFor "styles"}}
  <link rel="stylesheet" type="text/css" href="{{asset "css/home.css"}}" media="screen" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/listing.css"}}" media="screen" />
{{/contentFor}}

{{!-- The tag below means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!< default}}

{{!-- Special header.hbs partial to generate the <header> tag --}}
{{> header background=@site.cover_image}}

<main class="main-wrap">
  {{!-- Inject styles of the hero image to make it responsive --}}
  {{> hero background=@site.cover_image}}
  <div class="m-hero__content">
    <h1 class="m-hero-title bigger">Hi 👋,<br \> I'm Candost.</h1>
    {{#if @site.description}}
      <p class="m-hero-description bigger">{{@site.description}}</p>
    {{/if}}
  </div>
  </section>
  <div class="l-wrapper">
    <div class="l-wrapper">
      <h2>I am a software engineer, team leader, and writer.</h2><br \>

      <p style="font-size: 1.25rem;">I used to think that reading will make me smart.</p><br \>

      <p style="font-size: 1.25rem;">One day, while reading a book, I realized that I've read that exact book before. After that, my life changed.</p><br \>

      <p style="font-size: 1.25rem;">Now, I don't care how many books I read; I take many notes, connect dots and share what I've found.</p><br \>

      <p style="font-size: 1.25rem;">Meanwhile I work as a Software Engineering Team Lead, leading a team of four people working on Payment Systems at <u><a style="color:var(--link-color);" href="https://jimdo.com/" target="_blank">Jimdo</a></u>.</p>
      <br \><br \>

      <h2>Want the longer story?</h2>
      <p style="font-size: 1.25rem;">See <u><a style="color:var(--link-color);" href="https://candost.blog/about/">my "about" page</a></u>.</p>
      <br \><br \>

      <h2>What am I Doing Now?</h2>
      <p style="font-size: 1.25rem;">See <u><a style="color:var(--link-color);" href="https://candost.blog/now/">my "now" page</a></u>.</p>
      <br \><br \>

      <h2>Newest Articles<small style="margin-left: 2em;"><u><a style="color:var(--link-color);" href="https://candost.blog/articles/">SEE ALL</a></u></small></h2>
      <ul>
      {{#foreach posts visibility="all" filter="tags:-book-review-and-notes" limit="6"}}
        <div class="{{post_class}}">
          <div class="m-article-card__info-link">
            <div class="m-article-card__timestamp">
              <li>
                <a href="{{url}}" aria-label="{{title}}">
                  <h2 style="color:var(--link-color);" class="m-article-card__title js-article-card-title" title="{{title}}">
                    <u>{{title}}</u>
                  </h2>
                </a>
              </li>
            </div>
          </div>
        </div>
      {{/foreach}}
      </ul>
      <br \>

      <h2>Newsletter<small style="margin-left: 2em;"><u><a style="color:var(--link-color);" href="https://candost.blog/mektup/">SEE ARCHIVE</a></u></small></h2>
      <em><p style="font-size: 1.15rem;">Every second week, <b><u><a style="color:var(--link-color);" href="https://mektup.candost.blog/" target="_blank">Mektup</a></u></b> arrives as letters in the inboxes of software engineers who want to become leaders in the software industry.</p></em><br \>
      <div class="subscribe-form">
        <div class="m-newsletter" style="margin-left: 0px;">
          <script async data-uid="5802256603" src="https://witty-inventor-176.ck.page/5802256603/index.js"></script>
        </div>
      </div>
      <h3 style="font-size: 1.3rem;">
        <p>Latest Issue:
        {{#get "posts" filter="tags:mektup-archive" limit="1" visibility="all"}}
          {{#foreach posts}}
            <a style="color:var(--link-color);" href="{{url}}" aria-label="{{title}}"><u>{{title}}</u></a>
          {{/foreach}}
        {{/get}}
        </p>
      </h3>

      <br \>

      <div class="home-podcast">
        <h2>Podcast
          <small style="margin-left: 2em;">
            <u><a style="color:var(--link-color);" href="https://candost.blog/podcast/">SEE ALL EPISODES</a></u>
          </small>
        </h2>
        <em><p style="font-size: 1.15rem;">Software World Podcast is a series of interviews with industry experts and knowledge sharing episodes. Each episode uncovers a problem and a journey.</p></em><br \>
        <h3 style="font-size: 1.3rem;">
          <p>Latest Episode:
          {{#get "posts" filter="tags:podcast" limit="1" visibility="all"}}
            {{#foreach posts}}
              <a style="color:var(--link-color);" href="{{url}}" aria-label="{{title}}"><u>{{title}}</u></a>
            {{/foreach}}
          {{/get}}
          </p>
        </h3>
        <p style="font-size: 1.2rem;">Subscribe at
            <u><a style="color:var(--link-color);" href="https://podcasts.apple.com/podcast/software-world-with-candost/id1548135276" target="_blank">Apple</a></u>,
            <u><a style="color:var(--link-color);" href="https://open.spotify.com/show/2IoILbfQYu4dLiQpjEBKXk" target="_blank">Spotify</a></u>, or
            <u><a style="color:var(--link-color);" href="https://overcast.fm/+obEDOdmUA">Overcast</a></u>.
          </p><br \>
      </div>
      <br \>

      <h2>My Best Articles<small style="margin-left: 2em;"><u><a style="color:var(--link-color);" href="https://candost.blog/articles/">SEE ALL</a></u></small></h2>
      <ul>
        {{#get "posts" filter="tags:article" limit="5" visibility="all"}}
            {{#foreach posts}}
              <div class="{{post_class}}">
                <div class="m-article-card__info-link">
                  <div class="m-article-card__timestamp">
                    <li>
                      <a href="{{url}}" aria-label="{{title}}">
                        <h2 style="color:var(--link-color);" class="m-article-card__title js-article-card-title" title="{{title}}">
                          <u>{{title}}</u>
                        </h2>
                      </a>
                    </li>
                  </div>
                </div>
              </div>
            {{/foreach}}
        {{/get}}
      </ul><br \>

      <h2>Book Notes<small style="margin-left: 2em;"><u><a style="color:var(--link-color);" href="https://candost.blog/book-review-and-notes/">SEE ALL</a></u></small></h2>
      <ul>
        {{#get "posts" filter="tags:book-review-and-notes" limit="3" visibility="all"}}
            {{#foreach posts}}
              <div class="{{post_class}}">
                <div class="m-article-card__info-link">
                  <div class="m-article-card__timestamp">
                    <li>
                      <a href="{{url}}" aria-label="{{title}}">
                        <h2 style="color:var(--link-color);" class="m-article-card__title js-article-card-title" title="{{title}}">
                          <u>{{title}}</u>
                        </h2>
                      </a>
                    </li>
                  </div>
                </div>
              </div>
            {{/foreach}}
        {{/get}}
      </ul><br \>

      <div class="l-wrapper" style="background-color: var(--subscribe-background); padding:40px; position: relative; letter-spacing: 0.2px; font-size: 1.25rem; font-style: italic;">
        <div class="centered">
          <h3>My Favorite Quote</h3>
          <p>“What if the goal was to do better work this week than we did the week before? To make this month better than the last month? For no other reason than because we want to leave the organization in a better state than we found it?” -Simon Sinek</p>
        </div>
      </div>

      <br \>
    </div>
  </div>
  <div class="subscribe-form" style="padding: 30px 0 20px;">
    <div class="m-newsletter">
      <script async data-uid="c1c5f8c4cd" src="https://witty-inventor-176.ck.page/c1c5f8c4cd/index.js"></script>
    </div>
  </div>
</main>
