{{!--
This template is used for the index page.
It can be used also as the home page or the default page.
--}}

{{!-- This block preloads specific assets for the index page --}}
{{#contentFor "preload"}}
  <link rel="preload" href="{{asset "css/home.css"}}" as="style" />
  <link rel="preload" href="{{asset "css/listing.css"}}" as="style" />
  <link rel="preload" href="{{asset "js/home.js"}}" as="script" />
{{/contentFor}}

{{!-- This block loads specific styles for the index page --}}
{{#contentFor "styles"}}
  <link rel="stylesheet" type="text/css" href="{{asset "css/home.css"}}" media="screen" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/listing.css"}}" media="screen" />
{{/contentFor}}

{{!-- The tag below means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!< default}}

{{!-- Special header.hbs partial to generate the <header> tag --}}
{{> header background=@site.cover_image}}

<main class="main-wrap">
  {{!-- Inject styles of the hero image to make it responsive --}}
  {{> hero background=@site.cover_image}}
  <div class="m-hero__content" data-aos="fade-down">
    <h1 class="m-hero-title bigger">Mektup</h1>
      <p class="m-hero-description bigger">Letters to software engineers who want to become leaders in the software industry.</p>
  </div>
  </section>
  <div class="l-content">
    <div class="subscribe-form" style="background-color: var(--subscribe-background); padding: 30px 0 20px;">
      <div class="m-newsletter">
        <script async data-uid="d184e4a99a" src="https://witty-inventor-176.ck.page/d184e4a99a/index.js"></script>
      </div>
    </div>
    <div class="l-wrapper" data-aos="fade-up" data-aos-delay="300">
      <h2>Archive</h2>
      <div class="l-grid centered">
        {{#get "posts" filter="featured:true+tag:mektup-archive" include="authors,tags" limit="5" as |featured|}}
          {{#if featured}}
            <div class="m-featured-slider glide js-featured-slider">
              <div class="glide__track" data-glide-el="track">
                <div class="m-featured-slider__list glide__slides">
                  {{#foreach featured}}
                    <div class="m-featured-slider__list__item glide__slide js-featured-slide">
                      <article class="m-featured-article {{#unless feature_image}}no-picture{{/unless}}">
                        <div class="m-featured-article__picture">
                          {{#if feature_image}}
                            <style>
                              #featured-bg-{{id}} {
                                background-image: url({{img_url feature_image size='l'}});
                              }

                              @media(max-width: 768px) {
                                #featured-bg-{{id}} {
                                  background-image: url({{img_url feature_image size='m'}});
                                }
                              }
                            </style>
                            <div id="featured-bg-{{id}}"></div>
                          {{/if}}
                        </div>
                        <div class="m-featured-article__meta">
                          {{#if primary_tag}}
                            <p class="m-featured-article__tag">{{primary_tag.name}}</p>
                          {{/if}}
                        </div>
                        <div class="m-featured-article__ribbon">
                          <span class="icon-star"></span>
                          <span>{{t "Featured"}}</span>
                        </div>
                        <a href="{{url}}" class="m-featured-article__content">
                          <h2 class="m-featured-article__title js-featured-article-title" title="{{title}}">
                            {{title}}
                          </h2>
                          <div class="m-featured-article__timestamp">
                            <span>{{date published_at timeago="true"}}</span>
                            <span>&bull;</span>
                            <span>{{reading_time minute=(t "1 min read") minutes=(t "% min read")}}</span>
                          </div>
                        </a>
                      </article>
                    </div>
                  {{/foreach}}
                </div>
              </div>
              <div data-glide-el="controls" class="glide__arrows js-featured-slider-controls">
                <button data-glide-dir="<" class="m-icon-button in-featured-articles glide-prev js-featured-slider-previous" aria-label="{{t "Previous"}}">
                  <span class="icon-arrow-left" aria-hidden="true"></span>
                </button>
                <button data-glide-dir=">" class="m-icon-button in-featured-articles glide-next js-featured-slider-next" aria-label="{{t "Next"}}">
                  <span class="icon-arrow-right" aria-hidden="true"></span>
                </button>
              </div>
            </div>
          {{/if}}
        {{/get}}
        {{!-- The tag below iterates over all the posts --}}
        {{!-- The template below includes the markup for each post --}}

        {{#foreach posts visibility="all"}}
          {{#is "post"}}
            <div class="m-recommended-slider__item glide__slide">
          {{/is}}
          <article class="m-article-card {{post_class}}">
            {{#if primary_tag}}
              <div class="m-article-card__info">
                <p class="m-article-card__tag">{{primary_tag.name}}</p>
            {{else}}
              <div class="m-article-card__info no-tag">
            {{/if}}
              <a href="{{url}}" class="m-article-card__info-link" aria-label="{{title}}">
                <div>
                  <h2 class="m-article-card__title js-article-card-title" title="{{title}}">
                    {{title}}
                  </h2>
                </div>
              </a>
            </div>
          </article>
          {{#is "post"}}
            </div>
          {{/is}}
          {{else}}
            <header class="m-heading no-margin">
              <h3>{{t "No posts found"}}</h3>
              <p>
                {{t "Apparently there are no posts at the moment, check again later."}}
              </p>
            </header>
        {{/foreach}}
      </div>
    </div>
  </div>
</main>

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
  <script defer src="{{asset "js/home.js"}}"></script>
{{/contentFor}}

