{{!--
This template is used for the index page.
It can be used also as the home page or the default page.
--}}

{{!-- This block preloads specific assets for the index page --}}
{{#contentFor "preload"}}
  <link rel="preload" href="{{asset "css/home.css"}}" as="style" />
  <link rel="preload" href="{{asset "css/listing.css"}}" as="style" />
{{/contentFor}}

{{!-- This block loads specific styles for the index page --}}
{{#contentFor "styles"}}
  <link rel="stylesheet" type="text/css" href="{{asset "css/home.css"}}" media="screen" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/listing.css"}}" media="screen" />
{{/contentFor}}

{{!-- The tag below means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!< default}}

{{!-- Special header.hbs partial to generate the <header> tag --}}
{{> header background=@site.cover_image}}

<main class="main-wrap">
  <section class="m-hero no-picture" style="background-color: var(--background-color);">
  <div class="m-hero__content">
    <h1 class="m-hero-title bigger">Software World<small> with Candost</small></h1>
    <p class="m-hero-description bigger">Software World Podcast uncovers journeys of people and software systems. I sometimes interview the uncelebrated (or famous) experts or sometimes talk alone about a topic I'm researching or thinking so you can better learn from others.</p>
  </div>
  </section>
  <div class="l-content">
    <div class="l-wrapper" style="margin-top: 0px; justify-content: center; display: flex; flex-wrap: wrap;">
      <p style="max-width: 800px; margin:20px; font-size: 1.25rem;">You can listen now on and subscribe at
          <u><a href="https://podcasts.apple.com/podcast/software-world-with-candost/id1548135276" target="_blank">Apple</a></u>,
          <u><a href="https://open.spotify.com/show/2IoILbfQYu4dLiQpjEBKXk" target="_blank">Spotify</a></u>,
          <u><a href="https://overcast.fm/+obEDOdmUA">Overcast</a></u>,
          <u><a href="https://pca.st/xoxlydtr" target="_blank">PocketCasts</a></u>,
          <u><a href="https://www.stitcher.com/podcast/software-world-with-candost" target="_blank">Stitcher</a></u>,
          <u><a href="https://www.breaker.audio/software-world-with-candost" target="_blank">Breaker</a></u>,
          <u><a href="https://castbox.fm/channel/Software-World-with-Candost-id3715951" target="_blank">Castbox</a></u>,
          <u><a href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy85NjFhN2Q0L3BvZGNhc3QvcnNz" target="_blank">Google Podcasts</a></u>,
          <u><a href="https://anchor.fm/candost" target="_blank">Anchor</a></u>,
          <u><a href="https://radiopublic.com/software-world-with-candost-WlDeEJ" target="_blank">RadioPublic</a></u>,
          or <u><a href="https://anchor.fm/s/961a7d4/podcast/rss">copy the master RSS</a></u> to paste into your favorite player, or subscribe right here to get new episodes as emails:
      </p>
    </div>

    <div class="subscribe-form" style="padding: 0px 10px 0px;">
      <div class="m-newsletter">
        <script async data-uid="da63e767e8" src="https://witty-inventor-176.ck.page/da63e767e8/index.js"></script>
      </div>
    </div><br \>
    <div class="l-wrapper", style="margin-top: 20px;">

      {{!--- Season 2 ---}}
      <h2 style="font-size: 1.75rem;">Season 2</h2>
      <div class="centered">
        <ul>
          {{#get "posts" filter="tags:hash-season-2-podcast"}}
            {{#foreach posts}}
              <div class="{{post_class}}">
                <div class="m-article-card__info-link">
                  <div class="m-article-card__timestamp">
                    <li>
                      <a href="{{url}}" aria-label="{{title}}">
                        <h2 style="color:var(--link-color);" class="m-article-card__title js-article-card-title" title="{{title}}">
                          <u>{{title}}</u>
                        </h2>
                      </a>
                    </li>
                  </div>
                </div>
              </div>
            {{/foreach}}
          {{/get}}
        </ul>
      </div>


      {{!--- Season 1 ---}}
      <h2 style="font-size: 1.75rem;">Season 1</h2>
      <div class="centered">
        <ul>
          {{#get "posts" filter="tags:hash-season-1-podcast"}}
            {{#foreach posts}}
              <div class="{{post_class}}">
                <div class="m-article-card__info-link">
                  <div class="m-article-card__timestamp">
                    <li>
                      <a href="{{url}}" aria-label="{{title}}">
                        <h2 style="color:var(--link-color);" class="m-article-card__title js-article-card-title" title="{{title}}">
                          <u>{{title}}</u>
                        </h2>
                      </a>
                    </li>
                  </div>
                </div>
              </div>
            {{/foreach}}
          {{/get}}
        </ul>
      </div>


    </div>
  </div>
</main>