{{!--
This template is used for the post page.
--}}

{{!-- This block preloads specific assets for the post page --}}
{{#contentFor "preload"}}
  <link rel="preload" href="{{asset "css/post.css"}}" as="style" />
  <link rel="preload" href="{{asset "js/post.js"}}" as="script" />
{{/contentFor}}

{{!-- This block loads specific styles for the post page --}}
{{#contentFor "styles"}}
  <link rel="stylesheet" type="text/css" href="{{asset "css/post.css"}}" media="screen" />
{{/contentFor}}

{{!-- The tag below means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!< default}}

{{!-- Special header.hbs partial to generate the <header> tag --}}
{{#post}}
  {{> header background=@site.cover_image}}
{{/post}}

<main class="main-wrap">
  <article>
    <div class="l-content in-post">
      {{!-- Everything inside the #post tags pulls data from the post --}}
      {{#post}}
        <div class="l-wrapper in-post {{#unless feature_image}}no-image{{/unless}} js-aos-wrapper">
          <div
            class="l-post-content has-subscribe-form js-progress-content">
            <header class="m-heading">
              <h1 class="m-heading__title in-post">{{title}}</h1>
            </header>
            <div class="pos-relative js-post-content">
              {{content}}
            </div>
          </div>
        </div>
        <header class="m-heading">
          <div class="m-heading__meta">
            {{#if primary_tag}}
              <a href="{{primary_tag.url}}" class="m-heading__meta__tag">{{primary_tag.name}}</a>
              <span class="m-heading__meta__divider" aria-hidden="true">&bull;</span>
            {{/if}}
            <span class="m-heading__meta__time">Last Updated: {{date updated_at}}</span><br \>
            <span class="m-heading__meta__divider" aria-hidden="true">&bull;</span>
            <span class="m-heading__meta__time">Originally Published: {{date published_at}}</span>
          </div>
        </header>

        {{#if comments }}
          <div class="m-comments">
            <div class="l-wrapper in-comments js-native-comments">
              {{comments title="Comments" count=false mode="auto" saturation=80}}
            </div>
          </div>
        {{/if}}
        <section class="m-subscribe-section">
          <div class="l-wrapper in-post">
            <div class="m-subscribe-section__content">
              <div class="m-subscribe-section__form">
                {{> "newsletter-form"}}
              </div>
            </div>
          </div>
        </section>
      {{/post}}
    </div>
  </article>
</main>

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
  <script defer src="{{asset "js/post.js"}}"></script>
{{/contentFor}}
